//base
$grey: #E6F1F5;
$dark-grey: #4B4E50;

//BG
$calender-bg: #D4DFE3;
$month-block-bg: #1b7e3c;
$day-block-bg: #43b752;

//Typography
$primary-type: #fff;
$next-month-grey: #b3b3b3;
$current-day-green: #1b7e3c;

