@import "colours";


body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background-color: $grey;
}

.calender {
  height: 260px;
  width: 300px;
  margin: 15% auto;
  background-color: $calender-bg;


  .header {
    position: absolute;
    height: 40px;
    width: 300px;
    background-color: $month-block-bg;
    color: $primary-type;


    .btn {
      display: inline-block;
      height: 40px;
      width: 40px;
    }

    .previous {
      border-right: 1px solid $dark-grey;
    }

    .next {
      border-left: 1px solid $dark-grey;
      float: right;
    }

    .month-block {
      position: absolute;
      display: inline-block;
      margin: 0 auto;
      padding-top: 0.5px;
      width: 215px;
      height: 40px;
      text-align: center;

      .month-title {
        margin: 10px auto;
      }
    }

    .day-block {
      position: relative;
      margin-top: -5px;
      height: 30px;
      background-color: $day-block-bg;

      ul {
        margin: 0;
        padding: 0 7px 0 7px;

        li {
          font-size: 14px;
          margin: 7px 12px 0 0;
          list-style-type: none;
          float: left;
          text-align: left;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .grid {
    position: absolute;
    margin-top: 70px;


    table {
      width: 300px;
      border-collapse: collapse;
    }

    td, th {
      border: 1px solid #999;
      height: 35px;
      width: 35px;
      font-weight: normal;
      text-align: center;
    }

    //Removes outer border on grid
    table tr:first-child th {
      border-top: 0;
    }
    table tr:last-child td {
      border-bottom: 0;
    }
    table tr td:first-child,
    table tr th:first-child {
      border-left: 0;
    }
    table tr td:last-child,
    table tr th:last-child {
      border-right: 0;
    }

    .next-month {
      color: $next-month-grey;
    }

    .current-day {
      color: $current-day-green;
      font-weight: bold;
    }
  }
}
